<div class="col-md-12" style="width: 98%; margin: 0 auto;">

  <div class="form-actions mt-3 d-flex justify-content-between">
    <div class="buttons">
      <button class="add" (click)="setAction.emit()">
        <i class="fa-solid fa-plus"></i>
      </button>
      <button class="template">
        Templates
      </button>
    </div>

    <div class="input-container">
      <input type="text" class="form-control" placeholder="Search">
      <div class="find">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
    </div>
  </div>

  <div class="cards">
    <div *ngFor="let action of actions">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-2 p-3">
            <img [src]="
              action?.image ?? 
              'https://5287aa00874a313e299d-1850966fc307ff23e1e789aeafd2476b.ssl.cf5.rackcdn.com/PostImagem/42240/foto-branca-download-wallpapers-e-onde-usar_o1fcm9aiph1mte1km1f11cs53mng.png'"
              class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                  <h4 class="card-title">Component</h4>
                  <h1 class="name" (click)="setAction.emit(action)">{{ action?.name ?? 'No title' }}</h1>
                  <p class="card-text">
                    <small class="text-muted">{{ action.type }}</small>
                    <small class="text-muted ms-3">{{ action.category }}</small>
                    <small class="text-muted ms-3">{{ action.prioritary }}</small>
                  </p>
                </div>

                <div class="d-flex flex-column align-items-end justify-content-between">
                  <div class="InProgress">
                    <div class="select-container">
                      <i class="fa-solid fa-circle"></i>
                      <select name="" id="" class="">
                        <option value="">
                          In progress
                        </option>
                      </select>
                    </div>
                  </div>
                  <div matRipple class="copyButton" (click)="copy()">
                    <i class="fa-solid fa-copy"></i>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>