
.form-actions{
    margin: 0 7px;
    margin-bottom: 20px;

    .buttons{
        button{
            margin-right: 20px;
            padding: 10px;
            font-weight: 600;
            border-radius: 15px;
            min-width: 60px;

            &.add{
                background: #f98125;
                color: white;
                border: none;
            }

            &.template{
                color: #93add6;
                border: 2px solid #93add6;

            }
        }
    }
    .input-container{
        position: relative;
        input{
            padding:  10px 20px;
        }
        .find{
            position: absolute !important;
            right: 10px;            
            cursor: pointer;
            top: 12px;
            font-size: 1.1rem;
        }
    }
}

.cards{
    max-height: 600px;
    overflow-y: auto;
    
    
    &::-webkit-scrollbar {
        display: none; /* Oculta a barra de rolagem */
    }
    .card-title{
        font-size: 16px;
    }
    .card{
        
        
        border: none;
        border-bottom: 1px solid rgb(228, 228, 228);
        border-radius: 5px 5px 0 0;
        img{
            width: 200px;
            height: 100px;
            margin: 0 auto;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 4px 3px rgba(0, 0, 0, 0.06);
            border-radius: 5px;
        }
    
        .name{
            color: #274678;
            font-weight: 500;
            cursor: pointer;
            font-size: 24px;
        }
    
        .copyButton{
            font-size: 1rem;
            background-color: #5b84c4;
            border-radius: 100%;
            padding: 6px 10px;
            cursor: pointer;
            color: white;
        }
    
        .select-container {
            position: relative;
            display: flex;
            align-items: center;
            border-radius: 4px;
            cursor: pointer;
            padding: 3px;
            width: 100%;
          }
          
          .custom-select {
            border: none;
            border-radius: 4px;
            padding: 5px 10px;
            appearance: none;
            cursor: pointer;
            font-weight: bold;
            outline: none;
            min-width: 120px;
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
            font-size: 12px;
          }
          
          /* Ícone de círculo dentro do select */
          .select-icon {
            position: absolute;
            left: 10px;
            font-size: 12px;
            pointer-events: none;
            font-size: 10px;
          }
          
          /* Opções de status */
          .custom-select option {
            font-weight: bold;
            color: white;
            border-radius: 4px;
          }
          
          /* Define a cor do select com base no status */
          .custom-select option[value="In progress"] { background-color: #0275d8 !important; }
          .custom-select option[value="Done"] { background-color: #5cb85c !important; }
          .custom-select option[value="Assigned"] { background-color: #f0ad4e !important; }
          
          
    }
}

