<nav [ngClass]="{ 'mobile': _sidebarService.mobile(), 'show-sidebar': _sidebarService.showSidebar(), 'collapsed': isCollapsed }">
  <!-- Botão de Toggle -->
  <!-- <app-sidebar></app-sidebar> -->
  <div class="menu-toggle" (click)="toggleSidebar()">
    <i [class]="isCollapsed ? 'fas fa-angle-right' : 'fas fa-angle-left'"></i>
  </div>

  <!-- Logo -->
  <div class="logo" [ngClass]="{ 'collapsed': isCollapsed }">
    <img src="./assets/images/logo.png" alt="logo">
  </div>

  <mat-divider></mat-divider>

  <!-- Menu -->
  <ul class="components">
    <li *ngFor="let item of menuItem" routerLinkActive="active" [routerLink]="item.route">
      <a [routerLink]="item.route" [ngClass]="{ 'collapsed': isCollapsed }">
        <i [class]="item.icon"></i>
        <span [ngClass]="{ 'collapsed': isCollapsed }">{{ item.label }}</span>
      </a>
    </li>
  </ul>
</nav>
