<div class="container mt-12">
    <!-- Navegação entre abas -->
    <ul class="nav nav-tabs custom-tabs" id="facilityTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button
                class="nav-link {{ menuActive == 'registration' ? 'active' : '' }} custom-tab"
                id="facility-tab"
                data-bs-toggle="tab"
                data-bs-target="#facility"
                type="button"
                role="tab"
                aria-controls="facility"
                aria-selected="true"
                (click)="changeMenuActive('registration')"
            >
                Facility
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button
                class="nav-link {{ menuActive == 'components' ? 'active' : '' }} custom-tab"
                id="components-tab"
                data-bs-toggle="tab"
                data-bs-target="#components"
                type="button"
                role="tab"
                aria-controls="components"
                aria-selected="false"
                (click)="changeMenuActive('components')"
            >
                Components
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button
                class="nav-link {{ menuActive == 'actions' ? 'active' : '' }} custom-tab"
                id="actions-tab"
                data-bs-toggle="tab"
                data-bs-target="#actions"
                type="button"
                role="tab"
                aria-controls="actions"
                aria-selected="false"
                (click)="changeMenuActive('actions')"
            >
                Actions
            </button>
        </li>
    </ul>

    @if(menuActive == 'registration'){
        <app-registration></app-registration>
    }

    @if(menuActive == 'components'){
       <app-component [facility_id]="facility_id" (setComponent)="setComponent($event)"></app-component>
    }

    @if(menuActive == 'component-registration'){
        <app-component-registration [facility_id]="facility_id" [component]="component"></app-component-registration>
     }

     
    @if(menuActive == 'actions'){
         <app-action [facility_id]="facility_id" (setAction)="setAction($event)"></app-action>
    }

    @if(menuActive == 'actions-registration'){
        <app-action-registration [facility_id]="facility_id" [action]="action" (setAction)="setAction($event)"></app-action-registration>
    }
</div>
