.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    gap: 10px;
  }
  
  button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-body {
    transition: all 0.3s ease;
  }
  
  .card-body:hover {
    background-color: #ececec;
  }

  .row {
    row-gap: 1.5rem; /* Espaçamento vertical */
  }
  
  .mat-form-field {
    display: block;
  }
  
  
  button:hover {
    background-color: #0056b3 !important; /* Cor no hover */
  }

  .custom-bar {
    background-color: #ffffff; /* Fundo branco */
    border-radius: 8px; /* Bordas arredondadas */
  }
  
  .custom-bar h4 {
    font-weight: bold;
    color: #ff0000; /* Cor do texto */
  }
  
  .btn-primary {
    background-color: #C5E5FF;
    color: #3D3D3D;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 1rem;
  }
  
  .btn-primary:hover {
    background-color: #d4eaff;
    color: #FFF;
  }
  
  .fa-plus {
    font-size: 16px;
  }
  
  
/* Estilo para o componente de layout */
.layout-container {
  row-gap: 1.5rem; /* Espaçamento entre linhas */
}

/* Estilo para ajustar em telas menores */
@media (max-width: 800px) {
  .layout-container {
    flex-direction: column; /* Muda para layout em coluna */
  }

  .col-md-2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .col-md-10 {
    width: 100%;
  }
}

  
  