<div class="table-container">
  <div class="overflow-auto">
    <table class="table table-responsive" style="background-color: #FFF;" >
      <thead>
        <!-- Cabeçalho das colunas -->
        <tr>
          <th *ngFor="let col of columns; trackBy: trackByColumn">
            <div class="{{ col.align }}" style="color: #B5B7C0;">
              {{ col.title }}
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- Exibe spinner se estiver carregando -->
        <tr *ngIf="loading">
          <td [attr.colspan]="columns.length">
            <div id="mat-loading">
              <mat-spinner></mat-spinner>
            </div>
          </td>
        </tr>

        <!-- Exibe mensagem se não houver clientes -->
        <tr *ngIf="!loading && clients.length === 0">
          <td [attr.colspan]="columns.length" class="text-center">
            Nenhum resultado encontrado
          </td>
        </tr>

        <!-- Renderiza os clientes -->
        <tr
          *ngFor="let client of clients; trackBy: trackByColumn"
          class="table-line-hover"
        >
          <td>
            <div class="text-start">{{ client.login }}</div>
          </td>
          <td>
            <div class="text-start">{{ client.name }}</div>
          </td>
          <td>
            <div class="text-center">{{ client.profile }}</div>
          </td>
          <td>
            <div class="text-center">
              <!-- Bolinha verde ou vermelha -->
              <span
                class="status-dot"
                [ngStyle]="{ backgroundColor: client.active ? '#236F19' : '#C53232' }"
              ></span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Paginação -->
  <mat-paginator
    [length]="pageControl.itemCount"
    [pageSize]="pageControl.take"
    [pageSizeOptions]="[10, 25, 50, 100]"
    aria-label="Select page">
  </mat-paginator>
</div>

<style>

  .status-dot {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
  }
  .table-container table td {
  font-size: 14px;
}

</style>
