<div class="row align-items-start layout-container pt-4">
    <!-- Coluna Esquerda (Upload de Foto) -->
    <div class="col-md-3 col-12 mb-4 mb-md-0 photo-gallery">
        <div class="carousel-photos mt-3" style="max-height: 400px; overflow-y: auto;">
          <div class="carousel-photo mb-3" style="position: relative;">
              <div class="photo-preview d-flex align-items-center justify-content-center"
                  style="width: 100%; height: 170px; background-color: #f8f9fa; border-radius: 4px; overflow: hidden; cursor: pointer;">
                  <img *ngIf="imagePreview || this.action?.image"
                  [src]="imagePreview ?? this.action?.image" alt="Photo Preview" class="img-fluid"
                      style="max-width: 100%; max-height: 100%; object-fit: cover;" />
                  <div *ngIf="!imagePreview && !this.action?.image" class="text-muted d-flex flex-column align-items-center">
                      <i class="fa-solid fa-image" style="font-size: 1.5rem;"></i>
                  </div>
              </div>
          </div>
        </div>
        <!-- Botão para upload de imagens -->
        <div class="button-container d-flex justify-content-center mt-3">
            <!-- Botão de Upload -->
            <button class="btn btn-primary"
                style="border-radius: 50%; width: 40px; height: 40px; background-color: #5B84C4; color: #FFF; border: #5B84C4;"
                (click)="fileInput.click()">
                <i class="fa-solid fa-download"></i>
            </button>
            <input type="file" accept="image/*" style="display: none;" (change)="onFileSelected($event)"
                #fileInput />
            <!-- Botão de Câmera -->
            <button (click)="fileInput.click()" class="btn btn-primary"
                style="border-radius: 50%; width: 40px; height: 40px; background-color: #5B84C4; color: #FFF; border: #5B84C4;">
                <i class="fa-solid fa-camera"></i>
            </button>
            <input id="cameraInput" type="file" accept="image/*" capture="environment" style="display: none;"
                (change)="onFileSelected($event)" #fileInput />
        </div>
    </div>

    <!-- Formulário -->
    <div class="col-md-9 col-12">

        <div class="row d-flex justify-content-end pt-4 pb-4">
            <div class="col-12 col-md-auto trash d-flex justify-content-end pe-4 fs-5"
                style="color: #AEAEB2; cursor: pointer;">
                <i class="fa-solid fa-reply" (click)="backFacilities()"></i>
            </div>
            <div class="col-12 col-md-auto trash d-flex justify-content-end pe-4 fs-5"
                style="color: #C53232; cursor: pointer;">
                <i class="fa-solid fa-trash-can" (click)="openDeleteActionModal()"></i>
            </div>
        </div>


        <form [formGroup]="form">
            <div class="row">
                <div class="col-md-12 col-12 offset-md-0">
                    <!-- Facility Owner -->
                    <mat-form-field appearance="outline" class="w-100 mb-3">
                        <mat-label>Component</mat-label>
                        <mat-select formControlName="component_id">
                            <mat-option *ngFor="let component of components" [value]="component.id">
                                {{ component . name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-md-12 col-12 offset-md-0">
                    <mat-form-field appearance="outline" class="w-100 mb-3">
                        <mat-label>Action name</mat-label>
                        <input matInput type="text" formControlName="name" required />
                    </mat-form-field>
                </div>
                <div class="col-md-12 col-12 offset-md-0">
                </div>


                <!-- Profile e Phone -->
                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100 mb-3">
                        <mat-label>Action type</mat-label>
                        <mat-select formControlName="type">
                            <mat-option *ngFor="let action of actions" [value]="action.value">
                                {{ action . label }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100 mb-3">
                        <mat-label>Action date</mat-label>
                        <input matInput type="date" formControlName="date" />
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100 mb-3">
                        <mat-label>Action Category</mat-label>
                        <mat-select formControlName="category">
                            <mat-option *ngFor="let category of actionCategories" [value]="category.value">
                                {{ category . label }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>


                <div class="col-md-12 col-12 offset-md-0">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" class="w-100 mb-3">
                                <mat-label>Action condition</mat-label>
                                <mat-select formControlName="condition">
                                    <mat-option *ngFor="let condition of condictions" [value]="condition.value">
                                        {{ condition . label }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" class="w-100 mb-3">
                                <mat-label>Action Priority</mat-label>
                                <mat-select formControlName="priority">
                                    <mat-option *ngFor="let priority of actionPriorities" [value]="priority.value">
                                        {{ priority . label }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100 mb-3">
                        <mat-label>Frequency</mat-label>
                        <input matInput type="text" formControlName="frequency" />
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100 mb-3">
                        <mat-label>Action coast</mat-label>
                        <input matInput type="text" formControlName="coast" />
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100 mb-3">
                        <mat-label>Curracy</mat-label>
                        <input matInput type="text" formControlName="curracy" />
                    </mat-form-field>
                </div>


                <div class="col-md-12 col-12 offset-md-0">
                    <mat-form-field appearance="outline" class="w-100 mb-3">
                        <mat-label>Description</mat-label>
                        <textarea matInput placeholder="Enter description" rows="3" formControlName="description"></textarea>
                    </mat-form-field>
                </div>



            </div>
        </form>
    </div>

          <!-- Modal de Confirmação de Exclusão -->
    <div *ngIf="isDeleteActionModalOpen" class="modal-overlay confirm-modal">
        <div class="modal confirm-modal-content">
        <div class="modal-header">
            <h3>Are you sure you want to delete?</h3>
            <button class="close-button" (click)="closeDeleteActionModal()">×</button>
        </div>
        <div class="modal-body">
            <p>You will permanently delete this information.</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" (click)="closeDeleteActionModal()">Cancel</button>
            <button class="btn btn-danger" (click)="comfirmDeleteAction()">Delete</button>
        </div>
        </div>
    </div>