.container {
    margin-top: 1rem;
  }
  
  .carousel-photo {
    margin-bottom: 10px;
    .photo-preview {
      width: 100%;
      height: 100px;
      background-color: #f8f9fa;
      border-radius: 4px;
      overflow: hidden;
      cursor: pointer;
  
      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
      }
  
      .text-muted {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.5rem;
      }
    }
  }
  
  mat-form-field {
    margin-bottom: 1rem;
  }
  



//* Estilos gerais para modais */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.modal-header {
  display: flex;
  justify-content: space-between; /* Espaça os elementos para os lados */
  align-items: center;
  border-bottom: 1px solid #e0e0e0; /* Linha separadora */
  padding-bottom: 10px;
  position: relative; /* Permite posicionar o "X" de forma absoluta */
}

.modal {
  background: white;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Estilo específico para o modal de preview */
.preview-modal-content {
  width: 80%; /* Largura maior para o modal de preview */
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
}

.preview-modal .modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: 300px;
}

.preview-modal .modal-body img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Estilo específico para o modal de confirmação */
.confirm-modal-content {
  width: 400px; /* Largura menor para o modal de confirmação */
  max-width: 90%;
  max-height: 30vh;
}

.confirm-modal .modal-body {
  font-size: 1rem;
  color: #333;
  text-align: center;
}

.confirm-modal .modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

/* Botões */
.close-button {
  position: absolute;
  top: 10px; /* Ajuste a distância do topo */
  right: 10px; /* Ajuste a distância da direita */
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
  transition: color 0.3s;
}

.btn-secondary {
  background: #e0e0e0;
  border: none;
  color: black;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-secondary:hover {
  background: #d6d6d6;
}

.btn-danger {
  background: #dc3545;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-danger:hover {
  background: #c82333;
}