<div class="d-flex align-items-center gap-3 mt-3">
  <!-- Barra de pesquisa -->
  <mat-form-field class="custom-search-bar mat-input-override search-bar flex-grow-1">
    <mat-label>Search client</mat-label>
    <input matInput [(ngModel)]="searchText" placeholder="Type to search..." />
  </mat-form-field>
  
  <!-- Botão laranja -->
  <button matRipple class="add-button">
    <i class="fa-solid fa-plus"></i>
  </button>
</div>



<div id="componentTable" class="col-12 mt-4">
  <app-user-table
    [loading]="loading"
    [searchTerm]="searchText"
    (onDeleteClientClick)="onDeleteClient($event)">
  </app-user-table>
</div>
