<div class="col-md-12" style="width: 98%; margin: 0 auto;">

    <div class="form-actions mt-3 d-flex justify-content-between">
      <div class="buttons">
        <button class="add" (click)="setComponent.emit()">
          <i class="fa-solid fa-plus"></i>
        </button>
        <button class="template">
          Templates
        </button>
      </div>
  
      <div class="input-container">
        <input type="text" class="form-control" placeholder="Search">
        <div class="find">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
      </div>
    </div>
  
    <div class="cards">
      <div *ngFor="let component of components">
        <div class="card">
          <div class="row g-0">
            <div class="col-md-2 p-3">
              <img
              [src]="component.image ?? 'https://5287aa00874a313e299d-1850966fc307ff23e1e789aeafd2476b.ssl.cf5.rackcdn.com/PostImagem/42240/foto-branca-download-wallpapers-e-onde-usar_o1fcm9aiph1mte1km1f11cs53mng.png'" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-10">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div (click)="setComponent.emit(component)">
                      <h1 class="name">{{ component?.name }}</h1>
                      <div class="d-flex">
                          <span class="card-title">{{ component?.group}}</span>
                          <span class="card-title ms-3">{{ component?.uniformat}}</span>
                    </div>
                    <p class="card-text">
                      <small class="text-muted">{{ component?.year_installed }}</small>
                      <small class="text-muted ms-3">{{ component?.unity }}</small>
                    </p>
                  </div>
  
                  <div class="d-flex flex-column align-items-end justify-content-end">
                    <div matRipple class="copyButton" (click)="copy()">
                      <i class="fa-solid fa-copy"></i>
                    </div>
                    
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
  </div>