// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// Importa o núcleo do Angular Material
@use '@angular/material' as mat;

// Inclui os estilos principais do Angular Material
@include mat.core();

// Define as paletas do tema
$granatum-app-primary: mat.define-palette(mat.$indigo-palette);
$granatum-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$granatum-app-warn: mat.define-palette(mat.$red-palette);

// Define o tema da aplicação
$granatum-app-theme: mat.define-light-theme((
  color: (
    primary: $granatum-app-primary,
    accent: $granatum-app-accent,
    warn: $granatum-app-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Aplica o tema para todos os componentes Angular Material
@include mat.all-component-themes($granatum-app-theme);

table {
  line-height: 2.5; 
  background-color: #FFF;
}

tr{
  background-color: #FFF;
}

td, th {
  padding: 20px 20px; 
}

// Estilo das bordas dos inputs (apenas para appearance="outline")
mat-form-field.mat-form-field-appearance-outline {
  .mat-form-field-outline {
    .mat-form-field-outline-start,
    .mat-form-field-outline-end {
      border-color: #C7C7CC !important; /* Define a cor padrão das bordas */
    }
  }

  .mat-form-field-outline-gap {
    border-color: #C7C7CC !important; /* Define a cor padrão do label */
  }

  &.mat-focused .mat-form-field-outline {
    .mat-form-field-outline-start,
    .mat-form-field-outline-end {
      border-color: #C7C7CC !important; /* Define a cor ao focar */
    }

    .mat-form-field-outline-gap {
      border-color: #C7C7CC !important; /* Define a cor ao focar no label */
    }
  }

  &.mat-error .mat-form-field-outline {
    .mat-form-field-outline-start,
    .mat-form-field-outline-end,
    .mat-form-field-outline-gap {
      border-color: red !important; /* Define a cor em caso de erro */
    }
  }
}

.row{
  gap: 0;
}

// Diminuir o espaço entre os campos do formulário
mat-form-field {
  margin-bottom: 2px; // Diminui o espaçamento entre os inputs
  .mat-form-field-infix {
    padding-top: 4px; // Ajusta o espaçamento vertical dentro do campo
    padding-bottom: 4px; // Ajusta o espaçamento vertical dentro do campo
  }

  .mat-label {
    font-size: 14px; // Ajusta o tamanho da fonte do label
    margin-bottom: 4px; // Diminui o espaço entre o label e o campo
  }

  .mat-input-element {
    padding: 5px; // Ajusta o preenchimento interno do campo
  }
}
